*{
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif
}

p,h4,a,ul,li,figure{
    margin: 0;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
    padding-inline-start: 0.5rem;
}

p{
    padding: 0.25rem 0;
}

figcaption{
    font-size: 1.25rem;
    font-family: monospace;
    text-align: center;
}

input {
    border: 1px solid rgba(0,0,0,0.3);
    padding: 0.3rem 0.3rem 0.3rem 0.5rem;
}

.fullWidth {
    width: 100%;
}

.halfWidth {
    width: calc(50% - 1rem);
}   

/*START - Repository data Styling */
.repository__container{
    width: 300px;
    padding: 1rem;
    margin: 1rem;
    -webkit-box-shadow: 0px 3px 11px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 3px 11px -5px rgba(66, 68, 90, 1);
    box-shadow: 0px 3px 11px -5px rgba(66, 68, 90, 1);
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
}

.repositories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
}


.repository__name {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 0.5rem;
    font-family: monospace;
}


.repository__link {
    padding: 0.5rem 0.25rem;
    margin: 1rem 0.5rem 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
    font-size: 1rem;
}

.repository__link--blue {
    background-color: #38618C;
    color: #85CAFF;
    transition: all 0.3s ease-out;
}

.repository__link--blue:hover {
    background-color: #233C58;
    
}

.repository__link--yellow {
    background-color: #FFE74C;
    transition: all 0.3s ease-out;
    color: #665800;
}

.repository__link--yellow:hover {
    background-color: #CCB100;
    color: #FFF199;
}
/*END - Repository data Styling */

/*START - User data Styling */
.user__container{
    display: flex;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: start;
    margin: 0 auto;
    gap: 1rem;
    padding-top: 2rem;
}

.user-info__container{
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    justify-items: center;
    font-size: 1.25rem;
    letter-spacing: 0.5px;
}

.user__avatar{
    width: 250px;
}


/*END - User data Styling */


/*START - GitHub form data Styling */
.github-form{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.github-form__button{
    border: none;
    font-weight: bold;
    font-family: monospace;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    margin: 0.1rem;
    cursor: pointer;
}

.github-form__button--submit{
    background-color: #99C24D;
    transition: all 0.3s ease-out;
    color: white;
}

.github-form__button--submit:hover{
    background-color: #57A773;
}


.github-form__button--clear{
    background-color: #C73E1D;
    transition: all 0.3s ease-out;
    color: white;
}

.github-form__button--clear:hover{
    background-color: #A41D13;
}

.github-form__buttons-container{
    padding-top: 1rem;
    display: flex;
    justify-content: center;
}

.error-message{
    color: red;
    text-align: center;
}
/*END - GitHub form data Styling */